.upload {
    /*background: linear-gradient(*/
            /*skyblue,*/
            /*transparent*/
    /*);*/
    background-blend-mode: screen;
    padding-bottom: 20px;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.upload  .section-header {
    border-bottom: 1px solid #a37745;
}

.tagsearch{
    padding-top: 20px;
}


.viz {
    margin-top: -20px;
}

.tagsearch-button{
    display: inline;
}

.tagsearch-input{
    display: inline;
    }

.tagsearch-div{
    display: inline;
}