@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
  font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'PT Sans Narrow', sans-serif;
}

select {
  color: black;
}

/* Custom footer background */
.footer {
  margin-top: 10px;
  /*background-color: #f5f5f5;*/
  /*border-top: 1px solid #e7e7e7;*/
  /*border-bottom: 1px solid #e7e7e7;*/
}

#footer-logo {
  margin-bottom: 0px;
}

.jumbotron{
  margin-top: -20px;
  color: white;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/*#username, #password, #email, #password_confirm {*/
  /*width: 240px;*/
/*}*/

.navbar-default .navbar-brand {
  color: #9F002D;
  font-weight: bold;
}

hr {
  margin-top: 5px;
  margin-bottom:10px;
}

.section-header {
  color: #9F002D;
  /*border-bottom: 1px solid #e7e7e7;*/
  border-bottom: 1px solid #a37745;
  padding-top: 10px;
  padding-bottom: 5px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: solid;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: 1;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}