.plotviz {
    width: 100%;
    height: 100%;
    padding: 15px;
    /*background: linear-gradient(*/
        
            /*skyblue,*/
            /*transparent*/
    /*);*/
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    position: relative;
}

#canvas3d{
    z-index: 0;
}
.viz-title {
    position: absolute;
    left: 23px;
    bottom: 70px;
    color: #ffffff;
}

.plot-controls{
    position: absolute;
    right: 20px;
    bottom: 110px;
    color: #000000;
    z-index: 1001;
}

.settingdiv{
    position: absolute;
    float: left;
    z-index: 1002;
    right: 20px;
    top: 65px;
    width: 22%;
    height: 84%;
    background-color: #FFFFFF;
    /*opacity: 0.8;*/
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}

.settingdiv-header{
    min-height: 16px;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5
}

.settingdiv-header h4{
    margin-left: 10px
}

.select-glyph{
    margin-right: 0px;
    float: right;
}
.settingdiv-footer{
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    bottom: 5px;
}

.settinghidden{
    display: none;
}

.viz-clusters {
    /*margin-bottom: 10px;*/
   position: absolute;
    z-index: 1000;
    padding-right: 45px;
}

.plot {
    margin-left: 0;
    margin-right: 0;
}

/*==================================================
http://www.paulund.co.uk/creating-different-css3-box-shadows-effects
 * Effect 6
 * ===============================================*/
.effect6
{
    border-radius: 5px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/*.effect6:before, .effect6:after*/
/*{*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-1;*/
    /*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*top:50%;*/
    /*bottom:0;*/
    /*left:10px;*/
    /*right:10px;*/
    /*-moz-border-radius:100px / 10px;*/
    /*border-radius:100px / 10px;*/
/*}*/
/*.effect6:after*/
/*{*/
    /*right:10px;*/
    /*left:auto;*/
    /*-webkit-transform:skew(8deg) rotate(3deg);*/
    /*-moz-transform:skew(8deg) rotate(3deg);*/
    /*-ms-transform:skew(8deg) rotate(3deg);*/
    /*-o-transform:skew(8deg) rotate(3deg);*/
    /*transform:skew(8deg) rotate(3deg);*/
/*}*/

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


/*==================================================
 * Slider Style
 * ===============================================*/
input[type=range] {
    -webkit-appearance: none;
    /*margin: 10px 0;*/
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #CCD0D7;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid #c8c8c8;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    /*background: #84a0c0;*/
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8) );
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6c6c75;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #d7d7d7;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 30px;
    border-radius: 7px;
    background: #84a0c0;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d7d7d7;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #d7d7d7;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 30px;
    border-radius: 7px;
    background: #84a0c0;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #d7d7d7;
}
input[type=range]:focus::-ms-fill-upper {
    background: #d7d7d7;
}

.irs-bar, .irs-bar-edge, .irs-line {
    top: 25px;
}

.irs-grid{
    bottom: 5px;
}
.irs-slider {
    top: 18px;
    width: 21px;
    height: 21px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%);

}

.margin-left-five {
    margin-right: 5px;
}

.margin-right-five {
    margin-left: 5px;
}

.input-group-btn:first-child>.btn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
}

.input-group-btn:last-child>.btn {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 5px;
}

.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.element-item {
    position: relative;
    float: left;
    /*width: 100px;*/
    height: 25px;
    margin: 5px;
    padding: 8px;
    background: transparent;
    color: #262524;
    border-radius: 2px;
    margin-top: 15px;
    opacity: 0.7;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item > p {
    line-height: 1em;
}

.viz {
    margin-top: -21px ;
    padding : 0px ;
}

#viz-container {
    padding: 0px ;
}

.input-group-shaded {
    padding-left: 10px ;
    padding-right: 10px ;
    border: 1px solid #e7e7e7 ;
    border-radius: 5px ;
}

.drop-up {
    top: auto ;
    left: -125px ;
    bottom: 100% !important ;
    padding: 5px ;
    background-color: rgba(255,255,255,0.6) ;
    height: 300px ;
}

.focus {
    outline: 0 ;
}

.btn:focus,.btn.focus,.btn.active.focus,.btn.active:focus {
    outline: none ;
}

.btn.active {
    border-color: #9F002D ;
}

.cluster_table_div {
    overflow: auto;
    max-height: 86%;
}

.color-pic1 {
    display: inline;
}

.color-picker-addon{
    padding: 0;
    background: transparent;
    border: none;
}

.modal-backdrop.in {
    opacity: 0.1 !important;
}

#progress {
    color: #71c4ff;
    top:7em;
    width: 100%;
    font-size:3em;
    font-variant:small-caps;
    font-weight:bold;
    position:absolute;
    z-index:100;
    text-align: center;
    text-shadow: #000 0px 0px 10px;
    display:none;
}

.shadow {
    -moz-box-shadow: 0px 0px 5px #b2b2b2;
    -webkit-box-shadow: 0px 0px 5px #b2b2b2;
    box-shadow: 0px 0px 5px #b2b2b2;
}

#progressbar {
    text-align: center;
    background: white;
    width: 250px;
    height: 10px;
}

#bar {
    background:#71c4ff;
    width:50px;
    height:10px;
}

/*#loading-indicator {*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 10px;*/
/*}*/
