
.icon-cylinder:before { content: '\e800'; } /* '' */
.icon-cube-1:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e802'; } /* '' */
.icon-disc:before { content: '\e803'; } /* '' */
.icon-pyramid:before { content: '\e804'; } /* '' */
.icon-cone:before { content: '\e805'; } /* '' */
.icon-ball:before { content: '\e806'; } /* '' */
.icon-cube:before { content: '\e82b'; } /* '' */
.icon-star-1:before { content: '\e82c'; } /* '' */