@(user: User, hasError: Boolean, error: String, timeSeries: List[TimeSeries], groups: List[Group], group: Boolean, groupName: String, pub: Boolean, title: String)
@import helper._

@main(title, user){
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/dashboard.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-tags/bootstrap-tagsinput.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-tags/tags.css")">

    <script type="text/javascript">
            var isPending = false;
            function refreshIfPending(){
                if(!isPending){
                    isPending = true;
                    setTimeout(function() {
                        window.location.replace("@routes.Application.dashboard()");
                    }, 10000);

                }
            }
    </script>
    @if(!pub) {
        <div class="row upload">
            <div class="col-sm-12 col-md-12 pull-right">
                <h2 class="section-header"></h2>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Upload
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-toggle="modal" data-target="#uploadModal">Upload Artifact</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#newGroupModal">Create Collection</a></li>
                    </ul>
                </div>
                @if(group) {
                    <h2 class="section-header">Collection: @groupName</h2>
                }
            </div>
        </div>

        <div class="row tagsearch">
            <div class="col-sm-12 col-md-12 pull-right">
                <h2 class="section-header">Tag Search</h2>
                <div class="tagsearch-div">
                    <input type="text" id="tag-search" class="tagsearch-input">
                </div>
                <button class="btn btn-info dropdown-toggle tagsearch-button" type="button" id="tagsearch-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Search
                </button>
              </div>
        </div>
    } else {
        @if(group) {
            <div class="row upload">
                <div class="col-sm-12 col-md-12 pull-right">
                    <h2 class="section-header">Collection: @groupName</h2>
                </div>
            </div>
        }
    }
    @if(!group) {
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-header">Collections</h2>
                @if(groups.nonEmpty) {
                    <table id="collections" class="table table-striped table-bordered responsive-utilities jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                                @if(!pub) {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        @for( r <- groups) {
                            <tr>
                                <td>@r.name</td>
                                <td>@r.description</td>
                                @if(!pub) {
                                    <td><a href="@routes.Application.groupDashboard(r.name)">View</a> </td>
                                    <td align="center"><a href="javascript:void(0);" class="edit-col-link" data-name="@r.name" data-desc="@r.description" data-pub="@r.pub"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    <td align="center"><a href="@routes.GroupController.removeGroup(r.name)" ><i class="glyphicon glyphicon-trash"></i></a></td>
                                } else {
                                    <td><a href="@routes.Application.groupDashboardPublic(r.name)">View</a> </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                } else {
                    <div class="dataTables_info" id="example_info" style="padding-top: 20px ; float: none">
                        No Groups to Display</div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-header">Artifacts</h2>
                @if(timeSeries.length != 0) {
                    <table id="timeseriesfiles" class="table table-striped table-bordered responsive-utilities jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Collection</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Created At</th>
                                <th></th>
                                @if(!pub) {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        @for(r <- timeSeries) {
                            <tr>
                                <td>@r.t</td>
                                <td>@r.group</td>
                                @if(!pub) {
                                    <td><a href="@routes.Application.info(r.id)">@r.name</a></td>
                                } else {
                                    <td><a href="@routes.Application.publicInfo(r.id)">@r.name</a></td>
                                }
                                <td>@r.description</td>
                                <td>@r.uploaderId</td>
                                <td>@r.dateCreation</td>
                                @if("pending".equals(r.status)) {
                                    <script type="text/javascript">
                                        refreshIfPending();
                                </script>
                                    <td>Pending...</td>
                                } else {
                                    @if("T".equals(r.t)) {
                                        @if(!pub) {
                                            <td><a href="@routes.Application.timeSeriesPage(r.id)">View</a> </td>
                                        } else {
                                            <td><a href="@routes.Application.timeSeriesPublicPage(r.id)">View</a> </td>
                                        }
                                    } else {
                                        @if(!pub) {
                                            <td><a href="@routes.Application.singlePage(r.id)">View</a> </td>
                                        } else {
                                            <td><a href="@routes.Application.singlePublicPage(r.id)">View</a> </td>
                                        }
                                    }
                                }
                                @if(!pub) {
                                    <td align="center"><a href="javascript:void(0);" class="edit-file-link" data-group="@r.group" data-id="@r.id" data-name="@r.name" data-desc="@r.description" data-pub="@r.pub"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    <td align="center"><a href="@routes.Application.delete(r.id)" ><i class="glyphicon glyphicon-trash"></i></a></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>

                } else {
                    <div class="dataTables_info" id="example_info" style="padding-top : 20 px ; float : none">
                        No Time Series Files to Display</div>
                }

            </div>
        </div>
    } else {
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-header">Artifacts</h2>
                @if(timeSeries.length != 0) {
                    <table id="timeseriesfiles" class="table table-striped table-bordered responsive-utilities jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Group</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Created At</th>
                                <th></th>
                                @if(!pub) {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        @for(r <- timeSeries) {
                            <tr>
                                <td>@r.t</td>
                                <td>@r.group</td>
                                @if(!pub) {
                                    <td><a href="@routes.Application.info(r.id)">@r.name</a></td>
                                } else {
                                    <td><a href="@routes.Application.publicInfo(r.id)">@r.name</a></td>
                                }
                                <td>@r.description</td>
                                <td>@r.uploaderId</td>
                                <td>@r.dateCreation</td>
                                @if("pending".equals(r.status)) {
                                    <script type="text/javascript">
                                        refreshIfPending();
                                </script>
                                    <td>Pending...</td>
                                } else {
                                    @if("T".equals(r.t)) {
                                        @if(!pub) {
                                            <td><a href="@routes.Application.timeSeriesPage(r.id)">View</a> </td>
                                        } else {
                                            <td><a href="@routes.Application.timeSeriesPublicPage(r.id)">View</a> </td>
                                        }
                                    } else {
                                        @if(!pub) {
                                            <td><a href="@routes.Application.singlePage(r.id)">View</a> </td>
                                        } else {
                                            <td><a href="@routes.Application.singlePublicPage(r.id)">View</a> </td>
                                        }
                                    }
                                }
                                @if(!pub) {
                                    <td align="center"><a href="javascript:void(0);" class="edit-file-link" data-group="@r.group" data-id="@r.id" data-name="@r.name" data-desc="@r.description" data-pub="@r.pub"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    <td align="center"><a href="@routes.Application.delete(r.id)" ><i class="glyphicon glyphicon-trash"></i></a></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>

                } else {
                    <div class="dataTables_info" id="example_info" style="padding-top : 20 px ; float : none">
                        No Time Series Files to Display</div>
                }

            </div>
        </div>
    }

    <div class="modal fade" id="uploadModal" tabindex="-1" data-backdrop="static" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Data File</h4>
                </div>
                <div class="modal-body" id="upload_file_div">
                @form(routes.Application.upload(), 'enctype -> "multipart/form-data"){
                    @if(hasError){
                        <p class="text-danger">@error</p>
                    }
                    <form id="uploadForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="file">A ZIP file or a point file</label>
                            <input type="file" id="file" name="file" required>
                            @if(group){
                                <input type="hidden" name="from_group" id="hidden_group" value="@groupName">
                                }
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea rows="2" cols="100" class="form-control" name="desc" id="desc" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="group">Group</label>
                            <select class="form-control" name="group" id="group" placeholder="Enter Group Name">
                            @for( r <- groups) {
                                <option value="@r.name">@r.name<option>
                            }
                            </select>
                            @*<input type="text" class="form-control" name="group" id="group" placeholder="Enter Group Name"/>*@
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editFileModal" tabindex="-1" data-backdrop="static" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit File</h4>
                </div>
                <div class="modal-body" id="upload_file_div">
                @form(routes.Application.updateFile()){
                    @if(hasError){
                        <p class="text-danger">@error</p>
                    }
                    <form id="uploadForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="edit_file_name">Name</label>
                            <input type="text" id="edit_file_name" name="name" required>
                            <input type="hidden" name="name" id="edit_file_hname">
                            <input type="hidden" name="id" id="edit_file_hid">
                            @if(group){
                                <input type="hidden" name="from_group" id="hidden_group" value="@groupName">
                            }
                        </div>
                        <div class="form-group">
                            <label for="edit_file_desc">Description</label>
                            <textarea rows="2" cols="100" class="form-control" name="desc" id="edit_file_desc" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="edit_group">Group</label>
                            <select class="form-control" name="group" id="edit_group" placeholder="Enter Group Name">
                            @for( r <- groups) {
                                <option value="@r.name">@r.name<option>
                                }
                            </select>
                            @*<input type="text" class="form-control" name="group" id="group" placeholder="Enter Group Name"/>*@
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="margin-left-five pull-left" name="pub" id="edit_file_pub"><span class="pull-left">Public</span>
                        </div>
                        <h2 class="section-header"></h2>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newGroupModal" tabindex="-1" data-backdrop="static" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create new Group</h4>
                </div>
                <div class="modal-body" id="upload_file_div">
                @form(routes.GroupController.newGroup()){
                    @if(hasError){
                        <p class="text-danger">@error</p>
                    }
                    <form id="uploadForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="exampleInputFile">Name</label>
                            <input type="text" id="name" name="name" required>
                            @if(group){
                                <input type="hidden" name="from_group" id="hidden_group" value="@groupName">
                                }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea rows="2" cols="100" class="form-control" name="desc" id="desc" placeholder="Enter description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editColModal" tabindex="-1" data-backdrop="static" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Group</h4>
                </div>
                <div class="modal-body" id="upload_file_div">
                @form(routes.GroupController.updateGroup()){
                    @if(hasError){
                        <p class="text-danger">@error</p>
                    }
                    <form id="uploadForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="disabledEdit_name">Name</label>
                            <input type="text" id="disabled_edit_col_id" name="name" required disabled="disabled">
                            <input type="hidden" id="edit_col_name" name="name" required>
                            @if(group){
                                <input type="hidden" name="from_group" id="hidden_group" value="@groupName">
                                }
                        </div>
                        <div class="form-group">
                            <label for="edit_desc">Description</label>
                            <textarea rows="2" cols="100" class="form-control" name="desc" id="edit_col_desc" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="margin-left-five pull-left" name="pub" id="edit_group_pub"><span class="pull-left">Public</span>
                        </div>
                        <h2 class="section-header"></h2>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/typeahead.bundle.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-tags/bootstrap-tagsinput.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-tags/bootstrap-tagsinput-angular.min.js")"></script>


    @* can be used if table tools are needed such as save as pdf, print<script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/tools/js/dataTables.tableTools.js")"></script>*@
    <script>
            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#timeseriesfiles').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    'iDisplayLength': 25,
                    "sPaginationType": "full_numbers",
                    "order": [[ 5, "desc" ]],
                    @if(!pub) {
                    "columns": [
                                { "width": "5%" },
                                 { "width": "8%" },
                                 { "width": "20%" },
                                { "width": "35%" },
                                { "width": "8%" },
                                { "width": "15%" },
                                { "width": "4%" },
                                { "width": "4%" },
                                { "width": "4%" }
                                ],
                                }
                    "tableTools": {

                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });

                $('.edit-file-link').click(function(e) {
                   e.preventDefault();
                   var n = $(this).data('name');
                   var id = $(this).data('id');
                   var desc = $(this).data('desc');
                   var group = $(this).data('group');
                   var pub = $(this).data('pub');
                    $("#edit_file_name").val(n);
                    $("#edit_file_hname").val(n);
                    $("#edit_file_desc").val(desc);
                    if (group) {
                        $("#edit_group").val(group);
                    }
                    $('#edit_file_hid').val(id);
                    $('#editFileModal').modal('show');
                    if (pub) {
                        $('#edit_file_pub').prop('checked', true);
                    }
                 });
            });

            $(document).ready(function () {
                $('.edit-col-link').click(function(e) {
                   e.preventDefault();
                  var  n = $(this).data('name');
                   var desc = $(this).data('desc');
                    $("#edit_col_name").val(n);
                    $("#edit_col_desc").val(desc);
                    $("#disabled_edit_col_id").val(n);
                    var pub = $(this).data('pub');
                    $('#editColModal').modal('show');
                    if (pub) {
                        $('#edit_group_pub').prop('checked', true);
                    }
                 });
                var oTable = $('#collections').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    'iDisplayLength': 10,
                    "sPaginationType": "full_numbers",
                    "order": [[ 0, "desc" ]],
                    @if(!pub) {
                    "columns": [
                                { "width": "30%" },
                                { "width": "58%" },
                                { "width": "4%" },
                                { "width": "4%" },
                                { "width": "4%" }
                                ],
                                }
                    "tableTools": {

                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });


            });
    </script>
    <script>
            var tagloadcomplete = false;
            var tags = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch:{
                    url: '@routes.TagController.getAllTags()',
                }
            });
            tags.initialize();

            var elt = $('#tag-search');
            elt.tagsinput({
                tagClass: function(item) {
                    switch (item.category) {
                        case 'lifecycle'   : return 'label label-primary';
                        case 'project'  : return 'label label-danger label-important';
                        case 'domain': return 'label label-success';
                        case 'technology'   : return 'label label-info';
                        case 'organization'     : return 'label label-warning';
                        default : return 'label label-default';
                    }
                },
                itemValue: 'text',
                itemText: 'text',
                typeaheadjs: {
                    name: 'tags',
                    displayKey: 'text',
                    source: tags.ttAdapter()
                }
            });

            $.getJSON(gettagsurl, function (data) {
                if(data != ""){
                    var tags = data.tags
                    for(var prop in tags){
                        var text = tags[prop].name;
                        var cat = tags[prop].cat;
                        var entry = {}
                        entry['text'] = text
                        entry['category'] = cat
                        elt.tagsinput('add', entry);
                    }
                }
                tagloadcomplete = true;
            });

            $(function () {
                $('#tagsearch-button').on('click',function() {
                    var tagname = $("input").tagsinput('items')
                    var url = '@routes.SearchController.searchArtifactsByTag("")'
                    url = url + tagname;
                    window.location.replace(url);
                });

            });

    </script>
}