@(user: User)

@base("Home", user) {
    <style>
    .jumbotron {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        background-size: 100% auto;
        background-position: center;
        background-image: url("@routes.Assets.at("images/landingpageimage.png")");
    }

    .jumbotron h1 {
    font-weight: bold;
    color: #9F002D;
    }

    .jumbotron h2 {
    color: #C19D0C;
    }
    </style>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 >WebPlotViz</h1>
            <h2>A tool for visualizing large and high-dimensional data</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>Visualizing Data</h2>
                <p>
                    WebPlotViz is a 3D data point browser that visualizes large volume of 2- or 3-dimensional data as points in a virtual space on a computer screen and enable users to explore the virtual space interactively. Used together with such dimension reduction algorithms such as MDS, WebPlotViz can help users to discover intrinsic structures of high-dimensional data and browse large volumes of data points interactively and efficiently in a virtual 3D space.
                </p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
            <div class="col-md-4">
                <h2>Time Series</h2>
                <p>WebPlotViz supports viewing of large number of data as a time series. Thousands of 3D plots can be loaded and viewed as a time series. The time series view allows users to see changes in structure of data through time. </p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
            <div class="col-md-4">
                <h2>Technology</h2>
                <p>WebPlotViz 3D rendering in the browser is based on the <a href="http://threejs.org/" target="_blank">three.js</a> JavaScript framewrok. WebPlotViz is a successor to <a href="http://salsahpc.indiana.edu/plotviz/" target="_blank">SALSA PlotViz</a>, which is a desktop visualization framework developed at Indiana University.</p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Source Code</h3>
                <p>
                    The open source PlotViz code is available under <a href="https://github.com/orgs/DSC-SPIDAL" target="_blank">SPIDAL</a> project in GitHub.
                </p>
                <p><a href="https://github.com/DSC-SPIDAL/WebPViz.git" target="_blank">https://github.com/DSC-SPIDAL/WebPViz.git</a></p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Publications</h3>
                <p>
                    Poster - <a href="https://github.com/DSC-SPIDAL/publications/raw/master/stocks/stock_poster.pdf" target="_self">Dimension Reduction and Visualization of Financial Data</a>
                </p>
                <p>
                    Paper - <a href="https://github.com/DSC-SPIDAL/publications/raw/master/stocks/stocks_visualization.pdf" target="_self">Dimension Reduction and Visualization of the Structure of Financial Systems</a>
                </p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Acknowledgements</h3>
                <p>
                    We gratefully acknowledge support from NSF 1443054 SPIDAL grant and we would like to extend our gratitude to <a href="https://portal.futuresystems.org/" target="_blank">FutureSystems</a> team for their  infrastructure support.
                </p>
                @*<p><a class="btn btn-default" href="#" role="button">View details »</a></p>*@
            </div>
        </div>
    </div>

}
