@(user: User, resultSets : List[ResultSet])

@main("Home", user) {
    <div class="row">
        <div class="col-sm-12">
           <h3>PlotViz
           <small>A tool for visualizing large and high-dimensional data</small>
           </h3>

            <p style="width: 75%;text-align: justify">
                Large-scale high dimensional data visualization is highly valuable for scientific discovery in many fields of data mining and information retrieval. PlotViz is a 3D data point browser that visualizes large volume of 2- or 3-dimensional data as points in a virtual space on a computer screen and enable users to explore the virtual space interactively. PlotViz was initially designed to consume outputs of dimension reduction algorithms for visualizing high-dimensional data in a lower-dimensional space, such as Multi-dimensional Scaling (MDS) and Generative Topographic Mapping (GTM). Used together with such dimension reduction algorithms, PlotViz can help users to discover intrinsic structures of high-dimensional data and browse large volumes of data points interactively and efficiently in a virtual 3D space.
            </p>
            <div class="product-image" style="align-content: center">
                <img src="@routes.Assets.at("images/landingpageimage.png")" alt="..." style="width: 75%;height: 60%">
            </div>

        </div>
    </div>
}
