@(user: User, timeSeriesId: Integer, timeSeriesName: String)
@import helper._

    @main(timeSeriesName, user){
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ion-rangeslider/ion.rangeSlider.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ion-rangeslider/ion.rangeSlider.skinHTML5.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/plot.css")">
        <style>
        .viz {
        margin-top: -21px;
        padding : 0px;
        }

        #viz-container{
        padding: 0px;
        }
        </style>
        <div class="row plot">
                <!--div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clusters <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" role="menu">
                        <li><a href="#" id="cluster_table_div"></a></li>
                    </ul>
                </li>
            </ul>
        </div-->
                <!--div class="col-sm-9 col-sm-offset-3 col-md-10 col-sm-offset-2 plotviz"-->
            <div class="col-sm-12 col-md-12 plotviz">
                <canvas id="canvas3d" class="effect6" style="position: relative;"></canvas>
                <p class="viz-title" id="plot-title"></p>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="slider-play" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Play"><span id="play-span" class="glyphicon glyphicon-play"></span></button>
                    </div>
                    <input type="text" id="plot-slider" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-circle margin-right-five"><span class="glyphicon glyphicon-th-list"></span></button>
                    </div>
                </div>

            </div>
        </div>


        <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/plot.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/three.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/colorpicker/docs.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/colorpicker/bootstrap-colorpicker.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/three.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/Detector.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/TrackballControls.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/OrbitControls.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/stats.min.js")"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.1.1/randomColor.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ion-rangeslider/ion.rangeSlider.min.js")"></script>
        <script>
                $(function() {
                    $('#slider-play').click(function () {
                        var span = $("#play-span");

                        if (span.hasClass("glyphicon-play")) {
                            animateTimeSeriesPlay();
                            span.removeClass("glyphicon-play").addClass("glyphicon-pause");
                        } else if (span.hasClass("glyphicon-repeat")) {
                            resetSlider();
                            span.removeClass("glyphicon-repeat").addClass("glyphicon-play");
                        } else {
                            animateTimeSeriesPause();
                            span.removeClass("glyphicon-pause").addClass("glyphicon-play");
                        }
                    });
                });
        </script>
        <script type="text/javascript">
                $.getJSON("@routes.Application.timeseries(timeSeriesId)", function (data) {
                    var resultSetUrl = "@routes.Application.timeseries(timeSeriesId)";
                    visualizeTimeSeries(resultSetUrl, data, @timeSeriesId);
                });
        </script>
    }