@(user: User, timeSeriesId: Integer, timeSeriesName: String, pub: Boolean)

@main(timeSeriesName, user) {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ion-rangeslider/ion.rangeSlider.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ion-rangeslider/ion.rangeSlider.skinNice.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/colorpicker/bootstrap-colorpicker.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/colorpicker/jPicker-1.1.6.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/colorpicker/jPicker.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/plot.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.dataTables.min.css")">

    <div class="row plot">
        <div class="col-sm-12 col-md-12 plotviz">
            <div class="viz-clusters col-sm-12 col-md-12 hidden-xs hidden-sm" id="plot-clusters"></div>
            <div class="plot-controls hidden-xs" id="plot-controls"></div>
            <div id="progress">
                <span id="message">Loading ...</span>
                <center>
                    <img src="/assets/images/ajax-loader.gif" id="loading-indicator"/>
                </center>
            </div>
            <canvas id="canvas3d" class="effect6">
            </canvas>
            <p class="viz-title" id="plot-title"></p>
            <div class="input-group input-group-shaded effect6">
                <div class="input-group-btn">
                    <button id="plot-reset" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Reset" data-toggle="tooltip" data-placement="bottom" title="Reset Plot Position"><span id="plot-reset-span" class="glyphicon glyphicon-screenshot"></span></button>
                </div>
                <div class="input-group-btn">
                    <button id="slider-step-backward" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Step-Backward"><span id="step-backward-span" class="glyphicon glyphicon-step-backward"></span></button>
                </div>
                <div class="input-group-btn">
                    <button id="slider-play" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Play"><span id="play-span" class="glyphicon glyphicon-play"></span></button>
                </div>
                <div class="input-group-btn">
                    <button id="slider-step-forward" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Step-Forward"><span id="step-forward-span" class="glyphicon glyphicon-step-forward"></span></button>
                </div>
                <input type="text" id="plot-slider" class="form-control">
                <div class="input-group-btn">
                    <button type="button"  id="settings-toggle" class="btn btn-default btn-circle margin-right-five" data-toggle="tooltip" data-placement="bottom" title="Cluster List">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <button id="plot-save" type="button" class="btn btn-default btn-circle margin-left-five plot-save" aria-label="Save"  data-toggle="tooltip" data-placement="bottom" title="Save Plot Settings"><span id="plot-reset-span" class="glyphicon glyphicon-floppy-save"></span></button>
                    <button id="custom-clusters" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Custom Clusters" data-toggle="modal" data-target="#cluster-modal" data-toggle="tooltip" data-placement="bottom" title="Create Custom Clusters"><span class="glyphicon glyphicon-th"></span></button>
                    <button id="trajectory-show" type="button" class="btn btn-default btn-circle margin-left-five" aria-label="Trajectories" data-toggle="modal"  data-toggle="tooltip" data-placement="bottom" title="Create Trajectories"><span class="glyphicon glyphicon-align-right"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModal" tabindex="-1" data-backdrop="static" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save plot settings</h4>
                </div>
                <div class="modal-body" id="upload_file_div">
                    <div class="form-group">
                        <label for="group">Select existing setting to save or new setting</label>
                        <select class="form-control" name="setting-exist" id="setting-exist" placeholder="Enter Group Name">
                            <option value="new">New Setting</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="file">Enter new setting</label>
                        <input type="text" id="setting-new" name="setting-new" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="saveSettings">Save</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="settingDiv" class="settingdiv settinghidden">
        <div class="settingdiv-header">
            <h4>Visualization Settings</h4>
        </div>
        <div id="multirow-operations" class="multirow-operations">
            <h5>Multi Row Operations: </h5>
            <div id="multi-row-color" class="multi-row-color">
                <p>Color:</p>
                <input id="multirowcolor" class="multirowcolor" type="hidden" value="ff0000" key="multi" />
            </div>
            <div id="multi-row-size" class="multi-row-size">
                <p>Size:</p>
                <input id="multirowsize" class="multirowsize" type="text" value="10"/>
            </div>
        </div>
        <div id="cluster_table_div" class="cluster_table_div">

        </div>
        <div class="settingdiv-footer">
            <div id="color-palette-div" class="color-palette-div">
                <label class="">Color Scheme</label>
                <select id="color-scheme">
                    <option selected value="custom">Custom</option>
                    <option value="mathlab50">MathLab 50</option>
                    <option value="salsa17">Salsa 17</option>
                    <option value="colorbrewer9">Color Brewer 9</option>
                    <option value="colorbrewerpaired12">Color Brewer Paired 12</option>
                    <option value="rainbow">Rainbow</option>
                    <option value="rainbowrev">Rainbow Reverse</option>
                </select>
            </div>
            <button type="button" id="settings-div-close" class="btn btn-default margin-right-five">Close</button>
        </div>
    </div>

    <div id="sidebar">
            <!--Sidebar content-->
        <div id="sidebar-content">
            <div class="accordion" id="accordianParent">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#sectionOne">
                            Plot Description
                        </a>
                    </div>
                    <div id="sectionOne" class="accordion-body">
                        <div id="plot-info-description" class="accordion-inner-small plot-info-description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="toggleSidebar" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
    </div>


    <div id="cluster-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Custom Clusters</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="cluster-label">Cluster Label</label>
                            <input type="text" class="form-control" id="cclabel" placeholder="Enter cluster label">
                        </div>
                        <div class="form-group">
                            <label for="shape">Shape</label>
                            <select id="ccshape" data-size="8">
                                <option selected value="0">Disc</option>
                                <option value="1">Ball</option>
                                <option value="2">Star</option>
                                <option value="3">Cube</option>
                                <option value="4">Pyramid</option>
                                <option value="5">Cone</option>
                                <option value="6">Cylinder</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ccsize">Size</label>
                            <input type="text" class="form-control" id="ccsize" placeholder="Enter cluster point Size">
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <div class="input-group color-pic">
                                <input type="text" class="form-control" id="cccolor" placeholder="Enter cluster point Size" value="#ffffff">
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="points">Points</label>
                            <textarea class="form-control" id="ccpoints" placeholder="Enter point label names seperated by commas Ex : YMW,REW"></textarea>
                        </div>
                        <button type="submit" id="addcluster" class="btn btn-default btn-success">Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="trajectory-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Trajectories</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cluster-label">Trajectory stocks</label>
                        <input type="text" class="form-control" id="trajectoryInput" placeholder="Enter list of stocks to track separated by ','">
                        <label for="cluster-label">Number of frames to track</label>
                        <input type="text" class="form-control" id="trajectoryNumber" placeholder="0">
                        <label for="cluster-label">Size of the trajectory point</label>
                        <input type="text" class="form-control" id="trajectoryRatio" placeholder="1.0">
                        <label for="cluster-label">Total trajectory points to display</label>
                        <input type="text" class="form-control" id="trajectoryTotal" placeholder="1.0">
                    </div>
                    <button id="addTrajectory" class="btn btn-default btn-success">Ok</button>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
    $(function(){
        $('#multirowcolor').jPicker({
            window:
            {
                position:
                {
                    x: 'screenCenter',
                    y: 300
                }
            }
        });
        $("#addcluster").on("click", function(e) {
            e.preventDefault();
            addCustomCluster(false)
            $('#cluster-modal').modal('hide');
        });
    });
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/plot.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/three.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dat.gui.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/colorpicker/docs.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/colorpicker/bootstrap-colorpicker.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/colorpicker/jpicker-1.1.6.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/three.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/Detector.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/TrackballControls.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/OrbitControls.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/threeutils/stats.min.js")"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.1.1/randomColor.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ion-rangeslider/ion.rangeSlider.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/isotope.pkgd.js")"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/datatables/dataTables.select.min.js")"></script>
    <script>
            $(function() {
                 $('.color_enable').click(function() {
                    var $this = $(this);
                    // $this will contain a reference to the checkbox
                    if ($this.is(':checked')) {
                        colorEnable(true);
                    } else {
                        // the checkbox was unchecked
                        colorEnable(false);
                    }
                });
                $('.plot-save').click(function() {
                    savePlot();
                });
                $('#slider-play').click(function () {
                    var span = $("#play-span");

                    if (span.hasClass("glyphicon-play")) {
                        currentPlotUpdated = false;
                        animateTimeSeriesPlay();
                        span.removeClass("glyphicon-play").addClass("glyphicon-pause");
                    } else if (span.hasClass("glyphicon-repeat")) {
                        currentPlotUpdated = false;
                        resetSlider();
                        span.removeClass("glyphicon-repeat").addClass("glyphicon-play");
                    } else {
                        currentPlotUpdated = false;
                        animateTimeSeriesPause();
                        span.removeClass("glyphicon-pause").addClass("glyphicon-play");
                    }
                });

                $('#slider-step-backward').click(function () {
                    var currentval = plotRangeSlider.result.from - 1;
                    if ((currentval > 0) && playStatus == playEnum.PAUSE) {
                        if($("#play-span").hasClass("glyphicon-repeat")){
                            $("#play-span").removeClass("glyphicon-repeat").addClass("glyphicon-play");
                        }
                        plotRangeSlider.update({from: currentval});
                        currentPlotUpdated = false;
                        updatePlot(currentval)
                    }
                });

                $('#slider-step-forward').click(function () {
                    var currentval = plotRangeSlider.result.from + 1;
                    if ((currentval < timeSeriesLength) && playStatus == playEnum.PAUSE){
                        if($("#play-span").hasClass("glyphicon-repeat")){
                            $("#play-span").removeClass("glyphicon-repeat").addClass("glyphicon-play");
                        }
                        plotRangeSlider.update({from: currentval});
                        updatePlot(currentval)
                        currentPlotUpdated = false;
                    }
                });

                $('#plot-reset').click(function () {
                    resetView()
                });

                $('#settings-toggle').click(function () {
                    var settingsdiv = $("#settingDiv");
                    if(settingsdiv.hasClass("settinghidden")){
                        showSettings();
                        settingsdiv.removeClass("settinghidden");
                    }else{
                        settingsdiv.addClass("settinghidden");
                        hideSettings();
                    }
                });

                $('#settings-div-close').click(function () {
                    hideSettings();

                   var settingsdiv = $("#settingDiv");

                    if(settingsdiv.hasClass("settinghidden")){
                        settingsdiv.removeClass("settinghidden")
                    }else{
                        settingsdiv.addClass("settinghidden")
                    }
                });


                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });

                $('.modal-dialog').resizable();

                $('.modal-backdrop').removeClass("modal-backdrop");

            });
    </script>
    <script>
            var asInitVals = new Array();
            var oTable;
            function enablesearch() {
                if ( $.fn.dataTable.isDataTable( '#cluster_table' ) ) {
                    oTable = $('#cluster_table').DataTable();
                }
                else {
                    oTable = $('#cluster_table').dataTable({
                        "oLanguage": {
                            "sSearch": "Search all columns:"
                        },
                        'iDisplayLength': 25,
                        "bInfo": false,
                        "ordering": false,
                        "columns": [
                            { "width": "20%" },
                            { "width": "40%" },
                            { "width": "40%" },
                        ],
                        "sPaginationType": "full_numbers",
                        select: {
                            style: 'os'
                        }
                    });
                }

                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            };
    </script>
    <script type="text/javascript">
          if ( !Detector.webgl ){
                //TODO needs to go to seperate page when WebGL is not supported
                Detector.addGetWebGLMessage({"id":"canvas3d"});
          }else{
                @if(!pub) {
                $.getJSON("@routes.Application.getArtifact(timeSeriesId)", function (data) {
                    var resultSetUrl = "@routes.Application.getArtifact(timeSeriesId)";
                    visualizeTimeSeries(resultSetUrl, data, @timeSeriesId, false);
                });
                } else {
                    $.getJSON("@routes.Application.getPublicArtifact(timeSeriesId)", function (data) {
                    var resultSetUrl = "@routes.Application.getPublicFile(timeSeriesId, 0)";
                    visualizeTimeSeries(resultSetUrl, data, @timeSeriesId, true);
                });
                }
            }
    </script>
    <script>
            $.asm = {};
            $.asm.panels = 1;

            function sidebar(panels) {
                $.asm.panels = panels;
                if (panels === 1) {
                    $('#sidebar').animate({
                        left: -310,
                    });
                } else if (panels === 2) {
                    $('#sidebar').animate({
                        left: 20,
                    });
                    $('#mapCanvas').width($('#mapCanvas').parent().width());
                    $('#mapCanvas').height($(window).height() - 50);
                }
            };

            $('#toggleSidebar').click(function() {
                if ($.asm.panels === 1) {
                    return sidebar(2);
                } else {
                    return sidebar(1);
                }
            });

            $( "#setting-exist" ).change(function() {
                saveSettingSelectChange();
            });

            $("#saveSettings").click(function() {
                var sel = $( "#setting-exist" ).val();
                var setting = 'original';
                if (sel === 'new') {
                    setting = $( "#setting-new" ).val();
                } else {
                    setting = sel;
                }
                savePlotSettings(setting);
                callSave();
                updateTimeSeriesGui();
                animate();
            });
    </script>
    <script>
            $("#trajectory-show").click(function() {
                $("#trajectoryInput").val(trajectoryPointLabels.toString());
                $("#trajectoryNumber").val(trajectoryLimit);
                $("#trajectoryRatio").val(trajectoryPointSizeRatio);
                $("#trajectoryTotal").val(totalTrajectoryPoints);
                $('#trajectory-modal').modal('show');
            });

            $("#addTrajectory").click(function() {
                addTrajectory();
                $('#trajectory-modal').modal('hide');
            });

            function addTrajectory() {
                var tList = $("#trajectoryInput").val().replace(/\s+/g, '');
                var tNo = $("#trajectoryNumber").val();
                var tRatio = $("#trajectoryRatio").val();
                var tTotal = $("#trajectoryTotal").val();

                trajectoryLimit = parseInt(tNo);
                trajectoryPointLabels = [];
                trajectoryPointSizeRatio = parseFloat(tRatio);
                totalTrajectoryPoints = parseFloat(tTotal);

                var trajectoryPointLabels2 = tList.split(",");
                for (var i = 0; i < trajectoryPointLabels2.length; i++) {
                    trajectoryPointLabels.push(trajectoryPointLabels2[i]);
                }
            }
    </script>


}